* {
  box-sizing: border-box;
}

body, ul {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
}

ul {
  border: 1px solid #000;
}

ul:not(:last-child) {
  margin-bottom: 20px;
}

.need-to-do button {
  margin-bottom: 20px;
}

li {
  padding: 5px;
  list-style: none;
}
